.contact {
    width: 100%;
    height: 390px;
    background-color: black;
    overflow: hidden;

    display: grid;
    grid-template-rows: 260px 130px;
   
    .contact_first_section {
        width: 100%;
        height: 100%;
        background-color: #564bde;
        grid-row: 1;
        grid-column: 1 / -1;

        display: grid;
        grid-template-columns: 20% 25% 10% 25% 20%;
        grid-template-rows: 32.5px 32.5px 32.5px 32.5px 32.5px 32.5px 32.5px 32.5px;
        h1 {margin: 0;}
        background-image: url(../components/contact/contact_img1.png);
            background-position: top top;
            background-size: cover;
        .contact_title_1 {
            grid-row: 4;
            grid-column: 2 / -1;
            color: white;
        }
        .contact_title_2 {
            grid-row: 5;
            grid-column: 2 / -1;
            color: #00e07f;
        }
        .contact_info {
            width: 300px;
            height: 60px;
            background-color: white;
            border-radius: 10px;
            grid-row: 4;
            grid-column: 4;

            display: grid;
            grid-row: 50% 50%;
            grid-template-columns: 6% 94%;
            transform: translateY(10px);

            .contact_info_text {
                font-size: 12px;
                font-weight: 700;
                color: #564bde;
                grid-row: 1;
                grid-column: 2;
                margin: 0;
                transform: translateY(10px);
            }
            .contact_info_email {
                font-size: 17px;
                font-weight: 600;
                grid-row: 2;
                grid-column: 2;
                margin: 0;
                transform: translateY(2px);
            }
        }
    }
    .contact_last_section {
        width: 100%;
        height: 100%;
        background-color: #7273ee;
        grid-row: 2;
        grid-column: 1 / -1;

        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 130px;
        align-items: center;
        p {font-size: 12px; color: white;}
        .text_container_1 {grid-column: 2;}
        .text_container_2 {grid-column: 3;}
        .text_container_3 {grid-column: 4;}
       
        
        .facebook-img {
            width: 35px;
            height: 35px;
        }
        .twitter-img {
            width: 35px;
            height: 35px;
            margin-left: 10px;
        }
        .pinterest-img {
            width: 35px;
            height: 35px;
            margin-left: 10px;
        }
        
    }
}

@media only screen and (max-width: 940px) {
    .contact {
        .contact_first_section {
            grid-template-columns: 100%;
            justify-items: center;
            .contact_title_1 {grid-column: 1; grid-row: 2;}
            .contact_title_2 {grid-column: 1; grid-row: 3;}
            .contact_info {grid-column: 1; grid-row: 5;}
            
        }
        .contact_last_section {
            .text_container_3 {
                transform: translateX(75px);
            }
        }   
    }
} // END OF MEDIA QUERY 940px

@media only screen and (max-width: 800px) {
    .contact {
        .contact_last_section {
            grid-template-columns: 10% 30% 30% 30% 10%;
            .text_container_3 {
                transform: translateX(50px);
            }
        }   
    }
} // END OF MEDIA QUERY 940px

@media only screen and (max-width: 630px) {
    .contact {
        .contact_last_section {
            grid-template-columns: 5% 30% 35% 30%;
            .text_container_3 {
                transform: translateX(0px);
            }
        }   
    }
} // END OF MEDIA QUERY 940px

@media only screen and (max-width: 300px) {
    .contact_first_section {
       h1 {font-size: 28px;}
    }
} // END OF MEDIA QUERY 300px


