@media only screen and (max-width: 415px) and (min-width: 408px) and (max-height: 1000px){
    .iPad_image {transform: translate(-69px, 379px);width: 520px;}
    .downlad_worksheet_btn {transform: translate(-85px, -20px);}
    .downlad_from_app_store {transform: translate(90px, -20px);}
 }
 @media only screen and (max-width: 415px) and (min-width: 408px) and (max-height: 950px){
    .iPad_image {transform: translate(-69px, 341px);}
 }
 @media only screen and (max-width: 415px) and (min-width: 408px) and (max-height: 900px){
    .iPad_image {transform: translate(-69px, 208px);}
    .downlad_worksheet_btn {transform: translate(-85px, 115px);}
    .downlad_from_app_store {transform: translate(90px, 115px);}
 }
 @media only screen and (max-width: 415px) and (min-width: 408px) and (max-height: 845px){
    .iPad_image {transform: translate(-69px, 188px);}
 }
 @media only screen and (max-width: 415px) and (min-width: 408px) and (max-height: 800px){
    .iPad_image {transform: translate(-69px, 165px);}
    .downlad_worksheet_btn {transform: translate(-85px, 98px);}
    .downlad_from_app_store {transform: translate(90px, 98px);}
 }
 @media only screen and (max-width: 415px) and (min-width: 408px) and (max-height: 780px){
    .main_title {transform: translateY(7px);}
    .main_text {transform: translateY(40px);}
    .iPad_image {transform: translate(-69px, 142px);}
    .downlad_worksheet_btn {transform: translate(-85px, 75px);}
    .downlad_from_app_store {transform: translate(90px, 75px);}
 }
 @media only screen and (max-width: 415px) and (min-width: 408px) and (max-height: 733px){
    .iPad_image {transform: translate(-69px, 123px);}
    .downlad_worksheet_btn {transform: translate(-85px, -233px);}
    .downlad_from_app_store {transform: translate(90px, -233px);}
 }
 @media only screen and (max-width: 415px) and (min-width: 408px) and (max-height: 700px){
    .main_title {transform: translateY(7px);width: 400px;}
    .main_text {font-size: 15px;width: 323px;transform: translateY(35px);}
    .iPad_image {transform: translate(-69px, 115px);width: 477px;}
    .downlad_worksheet_btn {transform: translate(-85px, -233px);}
    .downlad_from_app_store {transform: translate(90px, -233px);}
 }
 @media only screen and (max-width: 415px) and (min-width: 408px) and (max-height: 650px){
    .main_title {transform: translateY(-5px);width: 400px;font-size: 30px;}
    .main_text {font-size: 15px;width: 323px;transform: translateY(26px);}
    .iPad_image {transform: translate(-69px, 115px);width: 440px;}
    .downlad_worksheet_btn {transform: translate(-85px, -215px);}
    .downlad_from_app_store {transform: translate(90px, -215px);}
 }
 @media only screen and (max-width: 415px) and (min-width: 408px) and (max-height: 610px){
    .iPad_image {transform: translate(-69px, 105px);width: 440px;}
    .downlad_worksheet_btn {transform: translate(-85px, -210px);}
    .downlad_from_app_store {transform: translate(90px, -210px);}
    .mac {display: none;}
 }
 @media only screen and (max-width: 415px) and (min-width: 408px) and (max-height: 590px){
    .iPad_image {transform: translate(-69px, 105px);width: 383px;}
    .downlad_worksheet_btn {transform: translate(-85px, -191px);}
    .downlad_from_app_store {transform: translate(90px, -191px);}
 }
 @media only screen and (max-width: 415px) and (min-width: 408px) and (max-height: 550px){
    .downlad_worksheet_btn {transform: translate(-85px, -178px);}
    .downlad_from_app_store {transform: translate(90px, -178px);}
 }
 @media only screen and (max-width: 415px) and (min-width: 408px) and (max-height: 535px){
    .main_title {transform: translateY(4px);width: 365px;font-size: 26px;}
    .downlad_worksheet_btn {transform: translate(-85px, -168px);width: 125px;height: 34px;}
    .downlad_from_app_store {transform: translate(90px, -168px); img {width: 125px;}}
    .iPad_image {width: 360px;}
 }
 @media only screen and (max-width: 415px) and (min-width: 408px) and (max-height: 535px){
    .main_title {transform: translateY(4px);width: 365px;font-size: 26px;}
    .downlad_worksheet_btn {transform: translate(-85px, -155px);width: 125px;height: 34px;}
    .downlad_from_app_store {transform: translate(90px, -155px); img {width: 125px;}}
    .iPad_image {width: 342px;}
 }