@media only screen and (max-width: 1366px) and (min-width: 1366px) and (max-height: 900px){
    .iPad_image {width: 825px;transform: translate(19px, 41px);}
    .iphone {transform: translate(-7px, 398px);width: 465px;}
    .cup {width: 292px;}
    .mac {width: 407px; transform: translate(-201px, 0px);}
 }
 @media only screen and (max-width: 1366px) and (min-width: 1366px) and (max-height: 820px){
    .iPad_image {transform: translate(19px, -25px);}
 }
 @media only screen and (max-width: 1366px) and (min-width: 1366px) and (max-height: 740px){
    #feature_box_1 {transform: translate(0px, 10px);}
    #feature_box_2 {transform: translate(190px, 10px);}
    .downlad_worksheet_btn {transform: translateY(13px);}
    .downlad_from_app_store {transform: translate(190px, 13px);}
    .main_text {transform: translateY(1px);}
 }
 @media only screen and (max-width: 1366px) and (min-width: 1366px) and (max-height: 700px){
    .iPad_image {transform: translate(19px, -81px);}
 }
 
 