@media only screen and (max-width: 2200px) and (max-height: 900px) and (min-height: 734px) {
    .iPad_image {width: 950px;transform: translate(19px, -66px);}
}
@media only screen and (max-width: 1800px) and (max-height: 900px) and (min-height: 734px) {
    .iPad_image {width: 950px;transform: translate(19px, -66px);}
}
@media only screen and (max-width: 1600px) and (max-height: 900px) and (min-height: 734px){
    .iPad_image {width: 950px;transform: translate(19px, -66px);}
}
@media only screen and (max-width: 1420px) and (max-height: 900px) and (min-height: 734px){
    .cup {transform: translate(-374px, 116px);}
}
@media only screen and (max-width: 1300px) and (max-height: 900px) and (min-height: 734px){
    .iPad_image {transform: translate(56px, -66px);}
    .cup {display: none;}
}
@media only screen and (max-width: 1125px) and (max-height: 900px) and (min-height: 734px){
    .background {grid-template-columns: 100%;grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;}
    #feature_box_1 {display: none;}
    #feature_box_2 {display: none;}
    .iPad_image {transform: translate(-96px, 204px);width: 672px;justify-self: center;grid-column: 1;}
    .mac {justify-self: center;grid-column: 1;transform: scaleX(-1) translate(-381px, -101px);width: 347px;}
    .iphone {grid-column: 1;justify-self: center;transform: translate(428px, -58px);width: 379px;}
    .cup {display: inherit;grid-column: 1;transform: translate(30px, 63px);width: 224px;}
    .main_title {width: 500px;grid-column: 1;font-size: 52px;transform: translateY(-88px);justify-self: center;text-align: center;}
    .main_text {grid-column: 1;font-size: 20px;transform: translateY(-123px);width: 431px;justify-self: center;text-align: center;}
    .downlad_worksheet_btn {grid-column: 1;transform: translate(-85px, -139px);justify-self: center;width: 147px;height: 43px;}
    .downlad_from_app_store {grid-column: 1;transform: translate(90px, -139px);justify-self: center;img {width: 147px;}}
}
@media only screen and (max-width: 930px) and (max-height: 900px) and (min-height: 734px){
    .cup {transform: translate(-77px, 63px);}
}
@media only screen and (max-width: 750px) and (max-height: 900px) and (min-height: 734px){
    .cup {transform: translate(-130px, -69px);}
    .main_title {transform: translateY(-113px);font-size: 50px;}
    .main_text {transform: translateY(-154px);}
    .iPad_image {transform: translate(-113px, 92px);width: 716px;grid-row: 4;}
    .mac {grid-row: 2;transform: scaleX(-1) translate(-301px, -94px);}
    .downlad_from_app_store {grid-row: 4;transform: translate(90px, 7px);}
    .downlad_worksheet_btn {grid-row: 4;transform: translate(-85px, 7px);}
 }
 @media only screen and (max-width: 730px) and (max-height: 900px) and (min-height: 734px){
    .main_title {transform: translateY(-30px);font-size: 50px;}
    .main_text {transform: translateY(15px);}
 }
 @media only screen and (max-width: 650px) and (max-height: 900px) and (min-height: 734px){
    .main_title {transform: translateY(-12px);font-size: 43px;}
    .main_text {transform: translateY(21px);font-size: 18px;}
    .cup {display: none;}
    .iphone {display: none;}
    .mac {display: none;}
 }
 @media only screen and (max-width: 600px) and (max-height: 900px) and (min-height: 734px){
    .iPad_image {transform: translate(-79px, 92px);width: 650px;}
 }
 @media only screen and (max-width: 530px) and (max-height: 900px) and (min-height: 734px){
    .iPad_image {transform: translate(-79px, 130px);width: 600px;}
    .main_title {transform: translateY(7px);}
    .main_text {transform: translateY(45px);width: 327px;}
    .downlad_worksheet_btn {transform: translate(-85px, 50px);}
    .downlad_from_app_store {transform: translate(90px, 50px);}
 }
 @media only screen and (max-width: 500px) and (max-height: 900px) and (min-height: 734px){
    .iPad_image {transform: translate(-63px, 172px);width: 544px;}
 }
 @media only screen and (max-width: 450px) and (max-height: 900px) and (min-height: 734px){
    .iPad_image {transform: translate(-63px, 207px);width: 505px;}
    .main_title {transform: translateY(29px);font-size: 37px;}
    .main_text {transform: translateY(65px);}
    .downlad_worksheet_btn {transform: translate(-85px, 87px);}
    .downlad_from_app_store {transform: translate(90px, 87px);}
 }
 @media only screen and (max-width: 400px) and (max-height: 900px) and (min-height: 734px){
    .iPad_image {transform: translate(-73px, 207px);}
  
 }




 