#body {overflow: visible;}



.large_image_container_inactive {
    display:none;
}
.large_image_container_active {
    
    
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
}
#large_image_container {
    position: absolute; 
    top: 0; 
    left: 0;
}
.large_image_inactive {
    display:none;
}

.large_image_active {
    z-index: 11;
    height: 85%;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
 
}
.download_pdf_btn {
    z-index: 11;
    position: absolute;
    top: 90.5%;
    left: 50%;
    width: 150px;
    transform: translateX(-200px);
    height: 40px;
    border-radius: 5px;
    background-color: #00e07f;
    display: grid;
    p {
        color: white;
        justify-self: center;
        align-self: center;
        margin: 0;}
}
.download_options_text {
    z-index: 11;
    position: absolute;
    top: 89%;
    left: 48%;
    transform: translateX(0px);
    font-size: 14px;
    color: white;
}


@media only screen and (max-width:600px) {
    .large_image_active {   
        width: 80%;
        height: auto;
    }

} // END OF MEDIA QUERY 600px