.background {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-image: url(../components/main_background/wood_background.png);
    background-position: top top;
    background-size: cover;
    

    display: grid;
    grid-template-columns: 5% 45% 43% 7%; 
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.dark_overlay {
    height: 100vh;
    width: 100vw;
    z-index: 2;
}
.iPad_image {
    width: 950px;
    grid-column: 3;
    grid-row: 3;
    justify-self: right;
    transform: translate(19px, -120px);
    z-index: 2;
    img {
        width: 40%;
    }
}

.mac {
    width: 480px;
    z-index: 1;
    transform: translate(-90px, 0px);
}
.cup {
    width: 325px;
    z-index: 1;
    transform: translate(-319px, 116px);
}
.iphone {
    width: 535px;
    z-index: 1;
    transform: translate(118px, 326px);
    grid-column: 2;
}

.main_title {
    width: 550px;
    height: 100px;
    font-weight: bold;
    font-size: 50px;
    color: white;
    grid-column: 2;
    grid-row: 3;
    margin: 0;
    z-index: 2;
}
.main_text {
    font-size: 20px;
    font-weight: 500;
    color: white;
    grid-row: 5;
    grid-column: 2;
    width: 500px;
    margin: 0;
    transform: translateY(-20px);
    z-index: 2;
}

/*----------Download btn-------------*/

.downlad_worksheet_btn {
    width: 160px;
    height: 50px;
    grid-row: 6;
    grid-column: 2;
    border-radius: 10px;
    border: solid 2px white;
    transform: translateY(-15px);
    z-index: 2;
    
    display: grid;
    grid-template-columns: 10% 25% 65%;

    img {
        width: 25px;
        grid-column: 2;
        grid-row: 1;
        justify-self: left;
        align-self: center;
    }
    p {
        color: white;
        font-size: 15px;
        font-weight: 600;
        grid-column: 3;
        grid-row: 1;
        margin: 0;
        justify-self: left;
        align-self: center;    
    }
}
#download_icon_purple {display: none;}
#download_icon {display: inline}

.downlad_from_app_store {
    width: auto;
    height: auto;
    grid-row: 6;
    grid-column: 2;
    transform: translate(190px, -15px);
    z-index: 2;

    img {width: 164px;}    
}


/*----------Feature boxex-------------*/

.feature_box {
    width: 170px;
    height: 170px;
    grid-row: 8;
    grid-column: 2;
    border-radius: 10px;
    border: solid 3px white;
    color: white;
    z-index: 2;
    

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 51% 4% 35%;

    img {
        grid-row: 2;
        justify-self: center;
        align-self: center;
    }
    p {
        width:90%;
        grid-row: 4;
        justify-self: center;
        text-align: center; 
        margin: 0;
        font-size: 14px;
    }
}
#feature_box_1 {
    transform: translateY(-20px);
    img {
        transform: translateX(-5px);
        width: 75px;
        
    }
}
#feature_box_2 {
    transform: translate(200px, -20px);
    img {width: 55px;}
}

#feature_box_3 {
    transform: translate(400px, -20px);
    img {width: 60px;}
}



// -------------MEDIA QUERIES-------------


@media only screen and (max-width: 1520px) {
    .mac {transform: translate(-245px, 0px);}
    .iphone {transform: translate(15px, 326px);}
    .iPad_image {width: 912px;transform: translate(75px, -79px);}

}


@media only screen and (max-width: 1440px) and (max-height: 740px) {
  
    #feature_box_1 {
        transform: translate(0px, 25px);
        width: 170px;
        height: 170px;
    }
    #feature_box_2 {
        transform: translate(190px, 25px);
        width: 170px;
        height: 170px;
    }
    
    #feature_box_3 {
        transform: translate(380px, 25px);
        width: 170px;
        height: 170px;
    }
}



@media only screen and (max-width: 1420px) {
    #feature_box_3 {display: none;}
}

@media only screen and (max-width: 1260px) {
   

    .main_title {
        width: 550px;
        font-size: 45px;   
    }
    .main_text {
        font-size: 18px;
        font-weight: 500;
        width: 450px;
        transform: translateY(-40px);
    }
    .mac {transform: translate(-360px, 0px);}
    .cup {width: 293px;}
    .iphone {
        transform: translate(-95px, 326px);width: 507px;}
 

        .downlad_worksheet_btn {transform: translateY(-42px);}
        .downlad_from_app_store {transform: translate(190px, -42px);}


} // END OF MEDIA QUERY 1260px

@media only screen and (max-width: 1200px) {
    .main_title {
        width: 550px;
        font-size: 40px;   
    }
    .main_text {
        font-size: 18px;
        font-weight: 500;
        width: 400px;
        transform: translateY(-40px);
    }
    .iphone {transform: translate(-210px, 358px);width: 507px;}
    .cup {transform: translate(-377px, 115px);}

    .feature_box {
        width: 150px;
        height: 150px;
        font-size: 14px; 
        

        img {
            grid-row: 2;
            justify-self: center;
            align-self: center;
        }
        p {
            width:90%;
            grid-row: 4;
            justify-self: center;
            text-align: center; 
            margin: 0;
        }
    }
    #feature_box_1 {transform: translateY(25px);}
    #feature_box_2 {transform: translate(170px, 25px);}
   

} // END OF MEDIA QUERY 1110px



    






@media only screen and (max-width: 1000px) {.iPad_image {width: 400px;}}

@media only screen and (max-width: 910px) {
    .main_title {
        width: 395px;
        font-size: 30px;  
    }
    .main_text {
        font-size: 16px;
        font-weight: 500;
        width: 290px;
        transform: translateY(-75px);
    }
    .downlad_worksheet_btn {transform: translateY(-60px);}
    .downlad_from_app_store {transform: translate(155px, -60px);}
    #feature_box_1 { justify-self: center;}
    #feature_box_2 { justify-self: center;}
    #feature_box_3 { justify-self: center;}
}

@media only screen and (max-width: 800px) {.iPad_image {width: 340px;}}



@media only screen and (max-width: 730px) {
    .background {
        display: grid;
        grid-template-columns: 100%; 
        grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
       
    }
    .iPad_image {
        width: 400px;
        grid-column: 1;
        grid-row: 4;
        justify-self: center;
        transform: translateY(20px);
    }
    .main_title {
        width: 90%;
        font-size: 50px;
        grid-column: 1;
        grid-row: 2;
        justify-self: center;
        text-align: center; 
        transform: translateY(0px);
    }
    .main_text {
        font-size: 20px;
        font-weight: 500;
        grid-row: 3;
        grid-column: 1;
        width: 500px;
        justify-self: center;
        text-align: center;
        transform: translateY(45px);
    }
    .downlad_worksheet_btn {
        transform: translate(-100px, 10px);
        grid-row: 8;
        grid-column: 1;
        justify-self: center;
        border: solid 2px #564bde;
        p {color: #564bde;}
    }
    #download_icon_purple {display: inline;}
    #download_icon {display: hidden}
    .downlad_from_app_store {
        transform: translate(60px, 10px);
        grid-row: 8;
        grid-column: 1;
        justify-self: center;
    }
    .feature_box {
        width: 150px;
        height: 150px;
        font-size: 14px; 
        transform: translateY(50px);
        grid-column: 1;
        grid-row: 9;
        justify-self: center;

        img {
            grid-row: 2;
            justify-self: center;
            align-self: center;
        }
        p {
            width:90%;
            grid-row: 4;
            justify-self: center;
            text-align: center; 
            margin: 0;
        }
    }
    #feature_box_1 {transform: translate(-165px, 0px);}
    #feature_box_2 {transform: translate(0px, 0px);}
    #feature_box_3 {transform: translate(165px, 0px);}

}

@media only screen and (max-width: 550px) {
    .main_title {font-size: 40px; transform: translateY(10px);}
    .main_text {
        font-size: 18px;
        font-weight: 500;
        grid-row: 3;
        grid-column: 1;
        width: 400px;
        justify-self: center;
        text-align: center;
        transform: translateY(35px);
    }
      
}

@media only screen and (max-width: 500px) {
    #feature_box_3 {display: none;}
    #feature_box_1 {transform: translate(-91px, 0px);}
    #feature_box_2 {transform: translate(92px, 0px);}
    .downlad_from_app_store {transform: translate(87px, 10px);}
    .downlad_worksheet_btn {transform: translate(-81px, 10px);}
}

@media only screen and (max-width: 450px) {
   
    .iPad_image {width: 325px;}
    .main_title {font-size: 33px;transform: translateY(20px);}
    .main_text {width: 325px;transform: translateY(24px);}
    .downlad_worksheet_btn {transform: translate(-81px, -30px);}
    .downlad_from_app_store {transform: translate(87px, -30px);}
    #feature_box_1 {transform: translate(-91px, -19px);}
    #feature_box_2 {transform: translate(92px, -19px);}
    
}




