.worksheets_for_download {
    overflow: hidden;
    width: 100%;
    height: 2550px;
    background-color: #f9f9f9;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;

    &__title {
        width: 100%;
        height: 100%;
        grid-row: 1;
        grid-column: 1;
        text-align: center;
        p {
            font-size: 30px;
            font-weight: 500;
            transform: translateY(50px);
        }
    }
    &__description {
        width: 730px;
        height: 30px;
        grid-row: 1;
        grid-column: 1;
        text-align: center;
        justify-self: center;
        p {
        font-size: 20px;
        transform: translateY(140px);
        }
        
    }
}


.worksheets_section_title_container {
text-align: center;
    width: 100%;
    height: 300px;
    background-color: white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    justify-items: center;
    

    &_text_container {
        height: 100%;
        width: 680px;
        grid-row: 1;
        grid-column: 1;

        display: grid;
        align-content: center;
        h1 {
            margin: 0;
            font-size: 30px;
            font-weight: 500;
            transform: translateY(-10px);
        }
        p {
            margin: 0;
            font-size: 20px;
            transform: translateY(10px);
        }
    }
} // worksheets_section_title_container 




.worksheet_download_page_display_container {
    width: 100%;
    height: 380px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 380px 50px 380px 50px 380px 50px 380px 50px 380px 50px 380px;
}

.worksheet_download_page_group {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    border-radius: 10px;
}

.worksheet_download_page_container01__title {
    font-size: 20px;
    text-align: center;
    grid-row: 1;
    grid-column: 1;
    font-size: 20px;
    align-self: center;
        p {margin: 0;  font-weight: 500; transform: translateY(10px);}
}

#images_column {
    grid-row: 2;
    grid-column: 1;
}



#group1 {
    grid-row: 1;
    grid-column: 1;
}
#group2 {
    grid-row: 1;
    grid-column: 2;
}
#group3 {
    grid-row: 3;
    grid-column: 1;
}
#group4 {
    grid-row: 3;
    grid-column: 2;
}
#group5 {
    grid-row: 5;
    grid-column: 1;
}
#group6 {
    grid-row: 5;
    grid-column: 2;
}
#group7 {
    grid-row: 7;
    grid-column: 1;
}
#group8 {
    grid-row: 7;
    grid-column: 2;
}
#group9 {
    grid-row: 9;
    grid-column: 1;
}
#group10 {
    grid-row: 9;
    grid-column: 2;
}
#group11 {
    grid-row: 11;
    grid-column: 1;
}
#group12 {
    grid-row: 11;
    grid-column: 2;
}



.worksheet_image01 {
    position: absolute;
    top:47%;
    left: 10%;
    transform: translateY(-50%);
}
.worksheet_image02 {
    position: absolute;
    top:47%;
    left: 22%;
    transform: translateY(-50%);
}
.worksheet_image03 {
    position: absolute;
    top:47%;
    left: 34%;
    transform: translateY(-50%);
}
.worksheet_image04 {
    position: absolute;
    top:47%;
    left: 46%;
    transform: translateY(-50%);
}
.worksheet_image05 {
    position: absolute;
    top:47%;
    left: 58%;
    transform: translateY(-50%);
}



.download_email_button {
    display: none;
    width: 116px;
    height: 40px;
    background-color: #00e07f;
    text-align: center;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    justify-self: center;
    transform: translateY(-20px);
    :hover {cursor: pointer;}
    p {transform: translateY(10px); margin: 0;}
}





@media only screen and (max-width: 1170px) {
    .worksheets_for_download {height: 5750px;}  
    .worksheet_download_page_display_container {
        width: 100%;
        height: 300px;
      
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 430px 50px 430px 50px 430px 50px 430px 50px 430px 50px 430px 50px 430px 50px 430px 50px 430px 50px 430px 50px 430px 50px 430px ;  
    }

    #group1 {grid-row: 1;grid-column: 1;}
    #group2 {grid-row: 3;grid-column: 1;}
    #group3 {grid-row: 5;grid-column: 1;}
    #group4 {grid-row: 7;grid-column: 1;}
    #group5 {grid-row: 9;grid-column: 1;}
    #group6 {grid-row: 11;grid-column: 1;}
    #group7 {grid-row: 13;grid-column: 1;}
    #group8 {grid-row: 15;grid-column: 1;}
    #group9 {grid-row: 17;grid-column: 1;}
    #group10 {grid-row: 19;grid-column: 1;}
    #group11 {grid-row: 21;grid-column: 1;}
    #group12 {grid-row: 23;grid-column: 1;}
   
    
    .worksheet_download_page_group {
        img {width: 225px;}   
    }  
} // END OF MEDIA QUERY 1170px

@media only screen and (max-width: 800px) {
    .worksheets_for_download {height: 4550px;}  
    .worksheet_download_page_display_container {height: auto; grid-template-rows: 370px 10px 370px 10px 370px 10px 370px 10px 370px 10px 370px 10px 370px 10px 370px 10px 370px 10px 370px 10px 370px 10px 370px;}
    .worksheet_download_page_group {
        img {width: 170px;}   
    }  
    .download_email_button {transform: translateY(-35px);}
    .worksheet_download_page_container01__title p {transform: translateY(23px);}

} // END OF MEDIA QUERY 800px

@media only screen and (max-width: 650px) {
    .worksheet_download_page_group img {width: 170px; transform: translate(-25px, -110px);}
    

} // END OF MEDIA QUERY 600px

@media only screen and (max-width: 500px) {
    .worksheets_for_download {
        height: 3620px;
    }
  
    .worksheet_download_page_display_container {height: auto; grid-template-rows: 290px 10px 290px 10px 290px 10px 290px 10px 290px 10px 290px 10px 290px 10px 290px 10px 290px 10px 290px 10px 290px 10px 290px;}
   
    .worksheet_download_page_container01__title p {
        transform: translateY(21px);
    }
    .worksheet_download_page_group img {
        width: 140px;
        transform: translate(-8px, -84px);
    }
    .download_email_button {
        transform: translateY(-20px);
    }

} // END OF MEDIA QUERY 500px


@media only screen and (max-width: 390px) {
    .worksheets_for_download {width: 385px;}

} // END OF MEDIA QUERY 320px





