.MGXThirdSection {
    width: 100%;
    height: 85vh;
    background: rgb(140,232,246);
    background: linear-gradient(270deg, rgba(140,232,246,1) 34%, rgba(125,203,229,1) 71%);

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    overflow: hidden;

}

.MGXThirdSection-textHolder {
    width: 450px;
    height: 150px;
    grid-column: 1;
    grid-row: 1;
    font-size: 35px;
    color: white;
    justify-self: center;
    align-self: center;
    p {margin:0;}
}
.MGXThirdSection-imageHolder {
    width: auto;
    height: 325px;
    grid-column: 2;
    grid-row: 1;
    color: white;
    justify-self: center;
    align-self: center;

    display: grid;
    grid-template-rows: 70% 10% 20%;
    grid-template-columns: 100%;
}

.math_leveling_logo {
    width: 250px;
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
}
.MGX_download_app_store {
    width: 100px;
    grid-row: 3;
    grid-column: 1;
    justify-self: center;
}

@media only screen and (max-width: 1200px) {
    .MGXThirdSection {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25% 75%;
    }
    .MGXThirdSection-textHolder {
        text-align: center;
        grid-row: 1;
        grid-column: 1;
        transform: translateY(54px);
    }
    .MGXThirdSection-imageHolder {
        grid-row: 2;
        grid-column: 1;
    }
}


@media only screen and (max-width: 600px) {
    .MGXThirdSection {height: 480px;}
    .MGXThirdSection-textHolder {transform: scale(0.8) translateY(54px);}
    .math_leveling_logo {width: 200px;transform: translateY(50px);}
}

@media only screen and (max-width: 350px) {
    .MGXThirdSection {height: 420px;}
    .MGXThirdSection-textHolder {transform: scale(0.7) translateY(54px);}
}